<section class="bbox-wrp">
    <div class="info">
      <div class="timeline">
        <div class="category">
          <a githubpress-reposURL href="#"><i class="icon-github"></i></a>
        </div>
        <div class="time" githubpress-date></div>
        <div class="author" githubpress-author></div>
      </div>
    </div>
    <div class="blog-box">
        <div class="blog-detail">
            <div class="title"><a href="" githubpress-title></a></div>
            <div class="desc markdown mui-ellipsis-3" githubpress-content></div>
        </div>
    </div>
</section>